@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  src: url(kmKnZrc3Hgbbcjq75U4uslyuy4kn0qNZaxc.eot)/*tpa=http://fonts.gstatic.com/s/librebaskerville/v6/kmKnZrc3Hgbbcjq75U4uslyuy4kn0qNZaxc.eot*/;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(mem8YaGs126MiZpBA-UFVZ0f.eot)/*tpa=http://fonts.gstatic.com/s/opensans/v16/mem8YaGs126MiZpBA-UFVZ0f.eot*/;
}
